@font-face {
	font-family: 'american_captainregular';
	src: url('fonts/cfb1_american_captain-webfont.eot');
	src: url('fonts/cfb1_american_captain-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/cfb1_american_captain-webfont.woff2') format('woff2'),
	url('fonts/cfb1_american_captain-webfont.woff') format('woff'),
	url('fonts/cfb1_american_captain-webfont.ttf') format('truetype'),
	url('fonts/cfb1_american_captain-webfont.svg#american_captainregular') format('svg');
	font-weight: normal;
	font-style: normal;
}