nav {
	overflow: auto;
}

h1.logo {
	font-size: 70px;
	color: white;
	float: left;
	font-family: american_captainregular, sans-serif;
	text-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

h3.about {
	color: white;
	float: right;
	margin: 25px 50px;
	font-family: open_sanslight;
}

button {
	float: right;
	cursor: pointer;
	margin-top: 7px;
	padding: 15px 40px;
	font-family: american_captainregular, sans-serif;
	font-size: 22px;
	letter-spacing: 4px;
	color: white;
	outline: none;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: .3s;
	border: 1px solid white;
}

.loading {
	background-color: #242766;
}

button.init {
	&:after {
		position: absolute;
		transition: .3s;
		content: '';
		width: 0;
		bottom: 0;
		background: #f7f7f7;
		height: 120%;
		left: -10%;
		transform: skewX(15deg);
		z-index: -1;
	}

	&:hover {
		color: #5bcaff;

		&:after {
			width: 100%;
			left: 0;
		}

		&:after {
			left: -10%;
			width: 120%;
		}
	}
}

#gameOver {
	color:white;
	font-family: american_captainregular, sans-serif;
	font-size: 48px;
	position: absolute;
	top:50%;
  	left: 50%;
  	transform: translate(-50%, 50%);
}
