@import "reset";
@import "fonts";

body {
	background: url("images/spaceBackgorund.jpg") no-repeat black;
	background-size: cover;
}

.page {
	width: 1052px;
	margin: 0 auto;
	padding: 80px 0;
}

@import "header";
@import "board";
@import "landingPage";